@import "tailwindcss";

html {
    color-scheme: dark;
}
* {
    @apply border-gray-800;
}
body {
    @apply bg-gray-900 text-gray-200;
}

HEADER {
    border-bottom: 1px solid;
    @apply border-gray-600;
    BUTTON {
        @apply cursor-pointer;
    }
}

FOOTER {
    border-top: 1px solid;
    @apply border-gray-800;
}

TD {
    INPUT:not([type="checkbox"]):not([type="radio"]),
    TEXTAREA,
    SELECT,
    BUTTON {
        @apply w-full;
    }
}

TABLE.form {
    @apply w-full;
    TH {
        text-align: right;
        padding-right: .5em;
        width: 1em;
        white-space: nowrap;
    }
}
INPUT,
SELECT {
    @apply bg-gray-800 text-gray-200 border-gray-700;
}

button.act,
button.add,
button.delete {
    @apply text-white font-bold py-2 px-4 rounded;
}
button.act[disabled],
button.add[disabled],
button.delete[disabled] {
    @apply bg-gray-500 hover:bg-gray-500;
}
button.act {
    @apply bg-blue-500 hover:bg-blue-700;
}
button.add {
    @apply bg-green-500 hover:bg-green-700;
}
button.delete {
    @apply bg-red-500 hover:bg-red-700;
}

button.small {
    @apply py-0 px-1.5;
}

svg {
    display: inline-block;
}

@page {
    margin: 5mm !important;
}
